@import "~gmf/components/MdAnimation/variables";
@import "~gmf/components/MdLayout/mixins";

@include md-layout-small-and-up {

  .md-refs-dialog,
  .md-query {
    .md-table .md-table-cell {
      height: inherit;
    }
  }
}

.md-card {
  .md-card-expand {
    .md-card-content {
      max-height: 3rem;
    }
  }
}

.md-part-body {
  max-width: 100%;

  .md-part-side.md-active {
    display: flex;
    min-width: 230px;
    max-width: 230px;
  }
}

.md-part-toolbar-group {
  flex-direction: row;
  display: flex;

  .md-field {
    width: 180px;
  }
}